@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Felipa&display=swap');

.aloha1 {
width:100px;
height:100px;
box-shadow: 5px 5px 0px #6A22C9} 

.aloha2 {
width:306px;
font:20px Cookie;
color:#6A22C9;}
