#feli
{width:278px;
height:30px;
background:none;
clip-path:polygon(100% 0, 1% 0, 100% 99%);
font:25px Festive;
line-height:30px;
text-align:left;
color:#ea61a2;}

#city
{width:278px;
height:30px;
background:none;
clip-path:polygon(99% 100%, 0 1%, 0 100%);
font:25px Festive;
line-height: 30px;
text-align:center;
color:#e7c53f;
margin-top:-30px;}
