@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

.gusred {
width:100px;
height:100px;} 

.gusres {
width:326px;
text-align:justify;
margin-top:2px;} 

.gusded {
width:300px;
text-align:left;
margin-bottom:-10px;
position:relative;
z-index:1;} 

.gusmar {
width:326px;
height:110px;
margin-top:-113px;}
