@import url('https://fonts.googleapis.com/css2?family=Delius&family=Twinkle+Star&display=swap');

#nim1 {
width:440px;
font-family:Twinkle Star;
font-size: 26px;
color:#8c8c00;
text-shadow:3px 3px 2px #000;
position:relative;
margin-bottom:-6px;
position:relative;
right:-18px;}

#nim2 {
width:420px;
font-family:Delius;
font-size: 11px;
color:#9e9e9e;
margin-top:-4px;}
