#roux1
{width: 100px;
height: 100px;
border-style: solid;
border-width: 2px;
border-color: #e8dd63;
-moz-transform:rotate(-6deg);
-webkit-transform:rotate(-6deg);}

#roux2
{width: 100px;
height: 100px;
border: 2px solid #F4A460;
-moz-transform:rotate(6deg);
-webkit-transform:rotate(6deg);
margin-top: -10px;}

#roux3
{width: 100px;
height: 100px;
border: 2px solid #e8dd63;
-moz-transform:rotate(13deg);
-webkit-transform:rotate(13deg);
margin-top: -200px;
margin-left: 170px;}

#roux4
{width: 100px;
height: 100px;
border: 2px solid #F4A460;
-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
margin-left: 180px;
margin-top:-10px;}
