.sha {
width:120px;
font:14px Gupter;
color:#617c8c;
text-align:center;} 

.mira {
width:120px;
height:4px;
background-color:#617c8c;} 

.sham {
width:120px;
height:4px;
background-color:#9e935d;
text-align:center;
font:30px Nanum Brush Script;
color:#1D94A6;} 

.ira {
width:182px;
height:120px;}
