.sha {
width:120px;
font:14px Gupter;
color:#617c8c;
text-align:center;} 

.mira {
width:120px;
height:4px;
background-color:#617c8c;} 

.sham {
width:120px;
height:4px;
background-color:#617c8c;
text-align:center;
font:30px Style Script;
color:#9e935d;} 

.ira {
width:182px;
height:120px;}
