.wen {
width:120px;
font:14px Gupter;
color:#2f7575;
text-align:center;} 

.dla {
width:120px;
height:4px;
background-color:#2f7575;} 

.son {
width:120px;
height:4px;
background-color:#2f7575;
text-align:center;
font:32px Style Script;
color:#CD5C5C;} 

.dhe {
width:182px;
height:120px;}
